.procedureContainer {
  height: 100vh;
}

.procedureWrapper {
  height: calc(100% - 45px);
  background: #ebf8fe;
  overflow: scroll;
}

.procedureContent {
  padding: 0px 10px;
}

.troubleDes {
  width: 90%;
  background: white;
}

.completedPro {
  background: white;
  margin-bottom: 10px;
}

.ButtonStyle {
  margin-top: 10%;
  text-align: center;
}

.save,
.cancel {
  width: 30%;
}
