.top {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.bill {
  line-height: 40px;
}

.body {
  height: calc(100% - 45px);
  padding: 10px 10px;
}

.detailsBox {
  background: #ebf8fe;
  margin-top: 10px;
  overflow: hidden; /* 形成bfc,外边距不重叠 */
}

.details {
  text-align: center;
  font-size: 20px;
}

.buttonStyle {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px;
}

.code {
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}

/*共性样式 */
.listAndAmount {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gzList {
  font-size: 17px;
  font-weight: 600;
  padding: 5px 10px;
}

.amount {
  margin-bottom: 8px;
  margin-right: 10px;
}

.listItem {
  border: 1px solid rgb(208, 203, 203);
  padding: 12px 6px;
  border-radius: 3px;
  background: rgb(239, 242, 246);
  margin-bottom: 15px;
}

.waitScan {
  margin-top: 40%;
  text-align: center;
  font-size: 20px;
}

.list {
  height: calc(100% - 195px);
  overflow: scroll;
}
